.card-container1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; /* Add margin between rows */
}

.card3 {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  background-color: #0540F2;
  width: calc(15vw - 10px); /* Adjust card width to fit within container */
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  margin-top: 100px;
}

.card-heading3 {
  font-size: 1.25rem;
  margin-bottom: 8px;
}


