.university-card {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
  }
  
  .card-title {
    color: #0540f2;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .card-content {
    display: flex;
    align-items: flex-start; /* Align items to the start (left) */
  }
  
  .university-image {
    width: 250px;
    height: auto;
    margin-right: 100px;
    border-radius: 8px;
  }
  
  .details-container {
    flex-grow: 1; /* Take up remaining space */
    text-align: left; /* Align content to the left */
  }
  
  .card-info {
    color: #333;
    font-size: 16px;
    margin-bottom: 6px;
  }
  
  .card-description {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .university-link {
    display: inline-block;
    color: #0540f2;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .university-link:hover {
    text-decoration: underline;
  }
  